{% extends 'blog/index.html' %}
{% include 'blog/base.html' %}
{% block content %}
  <article class="media content-section" style="margin-top:10px;border: 4px solid green;padding:20px">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" style="width:45px;height:45px;margin-right:10px">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
        <hr>
      </div>
      <h2 class="article-title">{{ object.image }}</h2>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <p class="article-content">{{ object.location }}</p>
      <p class="article-content">{{ object.area }}</p>
      <p class="article-content">{{ object.status }}</p>
      <p class="article-content">{{ object.description }}</p>
      <p class="article-content">{{ object.rent }}</p>
      <p class="article-content">{{ object.mobile_number }}</p>
      <img class="rounded-circle article-img"  width='300px' height="300px" src="{{ object.photo.url }}">
    </div>
    
  </article>
{% endblock content %}